
body {
    background-color: black;
    font-size: 15pt;
    font-family: Arial, sans-serif;
}
button {
    border: 2px solid dimgray;
    margin: 20px 40px;
    padding: 10px 20px;
    border-radius: 500px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif ;
    color: gray;
    font-weight: 300;
}
h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    
}
div{
    color: white;
}
footer {
    color: white;
    font-size: 1;
    
}

input {
    border: 2px solid gray;
    margin: 20px 40px;
    padding:10px 20px;
    border-radius: 50px;
    font-family: 'Courier New', Courier, monospace;
}